aiohttp>=3.10.0
aiofiles==23.2.1
beautifulsoup4==4.14.3
brotli>=1.1.0
discord.py==2.6.4
Twisted[tls,http2]
Django[argon2]>=6.0
html2text==2024.2.26
markdownify==1.1.0
protobuf==6.33.2
django-environ
google-genai
google-api-core
anthropic
groq
mysqlclient
Pillow>=11.1.0
django-simple-history
python-dotenv==1.0.0
cryptography==42.0.5
pyjwt==2.8.0
channels[daphne]
channelsmultiplexer
asgimod
asgiref
uvloop
django-cors-headers
django-csp==3.8
django-autoslug
django-ordered-model>=3.8.0a0
django-guardian
django-ratelimit
django-qsessions
django-select2
django-crispy-forms
crispy-bootstrap5
psycopg2-binary
docutils
django-admin-autocomplete-filter
djangorestframework
djangochannelsrestframework
redis>=7.1.0
django-redis>=6.0.0
channels-redis>=4.3.0
hiredis
django-ulid @ git+https://github.com/fdobrovolny/django-ulid.git@146-fix-no-uuid-support
django-otp
celery[gevent]
celery_once
django-celery-beat>=2.9.0
jsonschema 
django-admin-json-editor
Pygments
django_compressor
django-libsass
django-object-actions
coolname
python-dateutil